numpy
scipy
scikit-learn
librosa
soundfile
pydub
torch
torchaudio
torchlibrosa==0.1.0
torchvision
transformers
tokenizers
einops
einops_exts
huggingface-hub
laion-clap
nnAudio
safetensors
matplotlib
pyrubberband
pyyaml
mir_eval
pretty_midi
diffusers
xformers
accelerate
ftfy
Pillow